<footer>
    <div class='container'>
    	<div class='logo'
    		<a href='http://www.github.com' target='_external'>
    			<img src='/img/logo/github.png'>
    		</a>
    	</div>
    	<div class='about'>
    		<h3>About Tiny Open Houses</h3>
	    	<div>
	    		An Open source community project inspired by <a href='http://www.reddit.com/r/tinyhouses' target="_external">/r/TinyHouses</a>
	    	</div>
	    	<div>
	    		Website built and project hosted on <a href='https://github.com/tinyopenhouses/tinyopenhouses.github.io'>Github</a>
	    	</div>
    	</div>
    </div>
</footer>