<footer>
    <div class='container'>
    	<a href='http://www.github.com'>
    		<img class='logo' src='/img/logo/github.png'>
    	</a>
    	<h3>About Tiny Open Houses</h3>
    	<div>
    		An Open source community project inspired by <a href='http://www.reddit.com/r/tinyhouses' target="_external">/r/TinyHouses</a>
    	</div>
    	<div>
    		Website built and project hosted on <a href='https://github.com/tinyopenhouses/tinyopenhouses.github.io'>Github</a>
    	</div>
    </div>
</footer>