<footer>
    <div class='container'>
        <div class='row'>
        	<div id='contribute' class='span3'>
        		<h3>Contribute</h3>
        		<div class='inner'>
        			If you'd like to contribute Tiny Open Houses is openly available on: <br/>
        			<a href='https://github.com/tinyopenhouses/tinyopenhouses.github.io'>
        				<img src='/img/logo/github.png'>
        			</a>
        		</div>
        	</div>
            <div class='span3 about'>
                <h3>About</h3>
                <div class='inner'>
                    Tiny Open Houses strives to be a resource for enabling all interested
                    in the Tiny House movement to realize whatever it is they desire.
                </div>
            </div>
		</div>
    </div>
</footer>